# "hidden" folders
.curseclient
.DS_Store
.mixin.out/
.qmenu_opened.marker
.vscode/

# root folders
cache/
crash-reports/
downloads/
essential/
icon-exports-x32/
logs/
saves/
screenshots/
xaero/

# root files
emi.json
hs_err_pid*.log
icon.png
minecraftinstance.json
ops.json
options.txt
patchouli_data.json
rhino.local.properties
supportercache.json
TrashSlotSaveState.json
servers*.dat*
user-prefs.json
usercache.json
usernamecache.json
whitelist.json

# specific modded files & folders
configureddefaults/README.md
local/kubejs/*
mod_data/gml/*

# all backup, cache, and temp directories
**/*backup*/
**/*cache*/
**/*temp*/

# client/opinionated config files
config/cubes_without_borders.json
config/dynamic_fps.json
config/embeddium-options.json
config/fabric/indigo-renderer.properties
config/jade/jade.json
config/languagereload-client.toml
config/modernstartupqol/startup_times.json
config/oculus.properties
config/particlerain.json
config/sodium-extra-options.json
config/WildfireGender/client.toml
