# "hidden" folders
.curseclient
.mixin.out/
.qmenu_opened.marker
.vscode/

# root folders
/crash-reports
/downloads
/essential
/logs
/saves
/screenshots
/xaero

# root files
emi.json
minecraftinstance.json
ops.json
options.txt
patchouli_data.json
rhino.local.properties
supportercache.json
TrashSlotSaveState.json
servers*.dat*
user-prefs.json
usercache.json
usernamecache.json
whitelist.json

# specific modded files & folders
configureddefaults/README.md
local/kubejs/*
mod_data/gml/*

# all backup, cache, and temp files
**/*backup*
**/*cache*
**/*temp*
**/hs_err_pid*.log

# client/opinionated config files
config/cubes_without_borders.json
config/embeddium-options.json
config/fabric/indigo-renderer.properties
config/languagereload-client.toml
config/modernstartupqol/startup_times.json
config/oculus.properties
config/particlerain.json
config/sodium-extra-options.json
